#container::before,
#container::after {
  content: '';
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}

#container::before {
  background-image: var(--gradient-layer-bottom),
    url('../images/background/background@2xRGB.jpg'),
    var(--gradient-layer-top);
  background-image: var(--gradient-layer-bottom),
    url('../images/background/background@2xRGB.webp'),
    var(--gradient-layer-top);
  background-image: var(--gradient-layer-bottom),
    image-set(
      url('../images/background/background@1xRGB.webp') 1dppx,
      url('../images/background/background@2xRGB.webp') 2dppx,
      url('../images/background/background@3xRGB.webp') 3dppx,
      url('../images/background/background@4xRGB.webp') 4dppx
    ),
    var(--gradient-layer-top);
  background-blend-mode: overlay;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  animation: fade-in 0.75s ease-in-out;
}

#container {
  display: grid;
  grid-template-rows: auto 1fr auto;
}

@supports (backdrop-filter: none) {
  #container::before {
    background-size: 125%;
  }

  #container::after {
    backdrop-filter: var(--backdrop-filter);
  }
}

@supports not (backdrop-filter: none) {
  #container::before {
    filter: var(--backdrop-filter);
    transform: scale(1.25);
  }
}
