[aria-labelledby='discography'] article {
  display: grid;
  column-gap: 1.5em;
  grid-template-columns: 34% 1fr;
  grid-template-rows: auto 1fr;
}

[aria-labelledby='discography'] article h3 {
  grid-column: 1;
  margin: 1em 0;
}

[aria-labelledby='discography'] article img {
  grid-column: 1;
  border: var(--border);
  width: 100%;
  height: auto;
}

[aria-labelledby='discography'] article .tablist {
  grid-column: 2;
  grid-row: 1 / -1;
}

[aria-labelledby='discography'] article [class$='-panel'] {
  font-size: 0.825em;
}

[aria-labelledby='discography'] article :where(dt, p, thead) {
  position: absolute;
  overflow: hidden;
  width: 1px;
  height: 1px;
  margin: 0;
  padding: 0;
}

[aria-labelledby='discography'] article dl {
  margin-top: 1.75em;
}

[aria-labelledby='discography'] article .listen-panel dl {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

[aria-labelledby='discography'] article dd {
  margin: 0;
}

[aria-labelledby='discography'] article table {
  margin-top: 1.5em;
  width: 100%;
  border-collapse: collapse;
}

[aria-labelledby='discography'] article tbody tr {
  border-bottom: var(--border);
}

[aria-labelledby='discography'] article tbody tr:last-of-type {
  border-bottom: 0;
}

[aria-labelledby='discography'] article tbody tr td {
  padding: 0.25em 0.5em;
}

@media screen and (max-width: 767px) {
  [aria-labelledby='discography'] article h3 {
    grid-column: 2;
    grid-row: 1;
    align-self: center;
  }

  [aria-labelledby='discography'] article img {
    grid-column: 1;
    grid-row: 1;
  }

  [aria-labelledby='discography'] article .tablist {
    grid-column: 1 / -1;
    grid-row: 2;
  }
}
