header {
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: slide-down 0.75s ease-in-out;
}

header svg {
  fill: currentcolor;
  width: 100%;
  animation: fade-in 1.25s ease-in-out 0.25s both;
  mix-blend-mode: overlay;
  transform: translateZ(0);
}

main {
  padding: 2em 0;
  border-top: var(--border);
  animation: fade-in 0.5s ease-in-out 1s both;
}

footer {
  border-top: var(--border);
  animation: fade-in 0.5s ease-in-out 1s both;
}

@media (prefers-reduced-motion: reduce) {
  #container::before,
  header,
  header svg,
  main,
  footer {
    animation: none;
  }
}
