.tablist {
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    'controls'
    'panels';
}

.tablist fieldset {
  border: 0;
  padding: 0;
  margin: 1.30625em 0;
  grid-area: controls;
}

.tablist fieldset legend {
  position: absolute;
  left: auto;
  top: auto;
  width: 1px;
  height: 1px;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.tablist .tablist-control {
  display: inline-block;
}

.tablist .tablist-control input {
  position: absolute;
  width: 1em;
  height: 1em;
  opacity: 0;
}

.tablist .tablist-control label {
  padding: 0.5em 1em 0.3125em 1em;
  font-family: var(--font-family-header);
  font-size: 0.825em;
  font-weight: 500;
  font-variation-settings: 'wght' 550;
  letter-spacing: 0.125em;
  text-transform: uppercase;
  text-shadow: none;
  cursor: pointer;
  transition: background-color 0.25s ease-in;
}

.tablist .tablist-control label:hover,
.tablist .tablist-control label:focus {
  background-color: #dfbfef33;
}

.tablist .tablist-control input:checked + label {
  background-color: #dfbfef88;
  cursor: default;
}

.tablist div[class$='-panel'] {
  grid-area: panels;
  opacity: 1;
  transition: opacity 0.25s ease-in;
}

.tablist div[class$='-panel'][aria-hidden] {
  opacity: 0;
  pointer-events: none;
}
