#container::before,
#container::after {
  content: '';
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}

#container::before {
  background-image: url('../images/background/background@2xRGB.jpg');
  background-image: url('../images/background/background@2xRGB.webp');
  background-image: -webkit-image-set(url("../images/background/background@1xRGB.webp") 1x,
      url("../images/background/background@2xRGB.webp") 2x,
      url("../images/background/background@3xRGB.webp") 3x,
      url("../images/background/background@4xRGB.webp") 4x);
  background-image: image-set(url("../images/background/background@1xRGB.webp") 1x,
      url("../images/background/background@2xRGB.webp") 2x,
      url("../images/background/background@3xRGB.webp") 3x,
      url("../images/background/background@4xRGB.webp") 4x);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#container {
  display: grid;
  grid-template-rows: auto 1fr auto;
}

@supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
  #container::before {
    background-size: 125%;
  }

  #container::after {
    -webkit-backdrop-filter: var(--backdrop-filter);
    backdrop-filter: var(--backdrop-filter);
  }
}

@supports not ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
  #container::before {
    filter: var(--backdrop-filter);
    transform: scale(1.25);
  }
}
