:root {
  --backdrop-filter: blur(50px);
  --font-family-header: 'League Spartan Variable', 'League Spartan';
  --font-family-body: 'Amelia';
  --font-size-base: 24px;
  --font-line-height-base: 1.5;
  --max-width: 1150px;
  --border: 1px solid #fff3;
}
